/* body */
body {
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
}
/* navbar */
.navbar {
    padding: 16px;
    background-color: #efefef;
}
.container-fluid{
    padding-left: 32px;
    padding-right: 32px;
}
.navbar-brand {
    padding: 10px 0px;
}
.navbar-brand span {
    font-family: "DM Sans", sans-serif;
    font-size: 25.6px;
    font-weight: 700;
    line-height: 25.6px;
    color: #232323;
    position: relative;
    top: 5px;
    left: 3px;
}
.navbar-brand img{
    width: 48px;
    height: 48px;
}
.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.navbar-nav li a {
    padding: 0.6rem;
    margin: 0 0.6rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #232323;
    font-size: 17.6px;
}
.navbar-nav li:hover {
    background-color: #fff;
    height: 100%;
}
.icon{
    display: flex;
}
.icon-link {
    padding: 10px;
    background-color: #fff;
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    margin: 0 0.3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* top section  */
.top-section {
    background-image: url(../images/classwork\ 3.jpg);
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.top-container {
    margin-left: 104px;
    margin-right: 104px;
    padding-left: 16px;
    padding-right: 16px;
} 
#top-sect-text {
    padding: 0px 16px;
}
#top-sect-text h3{
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    color: #fff;
    margin: 0 0 1rem;
}
#top-sect-text h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.1rem;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 2rem;
}
#top-sect-text p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
    color: #464242;
    margin-bottom: 2rem;
}
#top-sect-text .notoutlined {
    margin: 0.6rem;
    padding: 1rem 2.6rem;
    background-color: #f7d9c4 !important;
    color: #1b2026;
    border-radius: 4px;
    border-color: #f7d9c4 !important;
}
#top-sect-text .outlined {
    margin: 0.6rem;
    padding: 1rem 2.6rem;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    border-color: #464646 !important;
}
#top-sect-text .outlined:hover {
    background-color: #f7d9c4 !important;
    border-color: #f7d9c4 !important;
    color: #1b2026;
}

#top-sect-text .notoutlined:hover {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #1b2026;
}
@media (max-width:890px){
    body{
        overflow-x: hidden;
        width: 100%;
    }
    .navbar {
        padding: 0;
        width: 100%;
    }
    .top-section {
        background: linear-gradient(#000a, #000a), url(../images/phoneBg.jfif);
        /* margin-top: 50px; */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* overflow: hidden; */
        /* padding-top: 10rem;
        padding-bottom: 10rem; */
    }
    .top-container {
        margin: 0 50px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }
    #top-sect-text p {
        color: #efefef;
    }
}
/* section 1  */ 
.section-1 {
    background-color: #efefef;
    padding: 5rem 0;
}
.section-1 .container {
    margin: auto; 
    padding: 1rem;
}
.section-1 .container .img-wrapper {
    padding: 0 16px;
    margin: 20.109px 0px;
}
.section-1 .container img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.section-1 .container .text-wrapper {
    padding: 0 16px;
}
.section-1 .container .card {
    border-color: #fff;
}
.section-1 .container .card-text-wrapper {
    padding: 4rem 2rem;
}
.section-1 .container .card-text-wrapper h3 {
    color: #777;
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0 0 1rem;
}
.section-1 .container .card-text-wrapper h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 3.1rem;
    line-height: 1.1;
    margin: 0 0 16px;
}
.section-1 .container .card-text-wrapper p {
    font-family: "DM Sans", sans-serif;
    color: #464646;
    font-size: 1.1rem;
    line-height: 1.5;
}
.section-1 .container .card-text-wrapper .list {
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}
.section-1 .container .card-text-wrapper .list ul {
    padding-left: 1rem;
    margin: 0;
    list-style-type: none;
}
.section-1 .container .card-text-wrapper .list ul li {
    margin-bottom: 1rem;
    padding-left: 1rem;
    position: relative;
}
.section-1 .container .card-text-wrapper .list ul li::before {
    content: '✓';
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -12px;
    width: 25px;
}
.section-1 .container .card-text-wrapper .btn-sec {
    margin-top: 2rem;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.section-1 .container .card-text-wrapper .btn-sec .btn {
    padding: 1rem 2.6rem;
    background-color: #dce8eb;
    font-size: 1rem;
    color: #1b2026;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0px;
}
.section-1 .container .card-text-wrapper .btn-sec .btn:hover {
    background-color: #1b2026;
    color: white;
    border-color: #1b2026;
}
.section-1 .container .card-text-wrapper .btn-sec .btn:active {
    background-color: #dce8eb;
    color: #1b2026;
    border-color: #dce8eb;
}
/* section 1 responsiveness */
@media (max-width: 992px) {
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .section-1 .container img {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .section-1 .container img {
        width: 170%;
    }
    .section-1 .container .card-text-wrapper {
        max-width: 430px;
        padding: 4rem 0;
        margin: auto;
    }
    .section-1 .container {
        margin: 0 104.5px; 
        padding: 1rem;
    }
}
/* core features section */
.coreFeatures{
    background-color: #efefef;
    padding: 4rem 0;
}
.coreFeatures .container{
    padding: 0 16px;
}
.coreFeatures .container .header {
    margin-bottom: 3rem;
}
.coreFeatures .container .header h5 {
    text-align: center;
    margin-bottom: 8px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777;
}
.coreFeatures .container .header h3 {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 3.8rem;
    line-height: 1.5;
    color: #232323;
}
.coreFeatures .container .cardWrapper {
    margin-top: 2rem;
}
.coreFeatures .container .cardWrapper .card{
    cursor: pointer;
    padding: 0 16px;
    margin-top: 2rem;
    background-color: transparent;
    border-style: none;
}
.coreFeatures .container .cardWrapper .card .card-top {
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.coreFeatures .container .cardWrapper .card .card-top img {
    height: 225px;
    width: 100%;
    object-fit: cover;
}
.coreFeatures .container .cardWrapper .card .card-top h5 {
    position: absolute;
    bottom: -8px;
    left: 15px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: #ff8484;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #ffffff;
}
.coreFeatures .container .cardWrapper .card .card-body {
    background-color: #efefef;
    transition: all 0.3s;
    border: 2px solid #e1e1e1;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2rem 2.5rem;
}
.coreFeatures .container .cardWrapper .card .card-body:hover {
    background-color: white;
    border-color: white;
}
.coreFeatures .container .cardWrapper .card .card-body .card-title {
    text-align: left;
    color: #1b2026;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
}
.coreFeatures .container .cardWrapper .card .card-body .card-text {
    color: #777;
    font-size: 1rem;
    line-height: 1.5;
    margin: 8px 0 16px;
}
.coreFeatures .container .cardWrapper .card .card-body .author {
    color: #1b2026;
    font-size: 1rem;
    line-height: 1.5;
    margin: 4px 0 8px;
}
/* app integration section */
.appIntegrations {
    padding: 4rem 0;
    background-color: #fff; 
}
.appIntegrations .container{
    padding: 0 16px;
}
.appIntegrations .container .row{
    justify-content: center;
    text-align: center;
}
.appIntegrations .container .app-title{
    padding: 0 16px;
    margin-bottom: 3rem;
}
.appIntegrations .container .app-title h5{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777;
}
.appIntegrations .container .app-title h3{
    font-size: 3.1rem;
    line-height: 1.1;
}
.appIntegrations .container .card{
    padding: 0 16px; 
    background-color: transparent;
    border: none;
    margin-bottom: 16px;
}
.appIntegrations .container .card .card-wrapper{
    background-color: white;
    padding: 3rem;
    border: 2px solid #dce8eb;
    border-radius: 1rem;
    transition: all 0.3s;
}
.appIntegrations .container .card .card-wrapper .iconbox{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.appIntegrations .container .card .card-wrapper .iconbox .iconwrapper{
    display: flex;
    font-size: 4rem;
    color: #353535;
    background: #dce8eb;
    width: 100px;
    height: 100px;
    transition: all 0.3s;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.appIntegrations .container .card .card-wrapper .iconbox h5{
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}
.appIntegrations .container .card .card-wrapper p{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777;
    text-align: left;
}
.appIntegrations .container .card .card-wrapper h6 {
    text-align: left;
}
.appIntegrations .container .card .card-wrapper h6 a{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #232323;
    text-decoration-color: #232323;
}
.appIntegrations .container .card .card-wrapper:hover {
    border-style: none;
}
.appIntegrations .container .card .card-wrapper:hover .iconwrapper{
    background-color: #f7d9c4;
}
/* fun fact section */
.funFacts {
    background-color: #efefef;
    padding: 5rem 0; 
}
.funFacts .container,
.funFacts .container .img-wrapper{
    padding: 0 1rem;  
}
.funFacts .container .img-wrapper img {
    width: 90%;
    border-radius: 10px;
}
.funFacts .container h3,
.funFacts .container p {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.5;
}
.funFacts .container h2 {
    font-size: 3.8rem;
    color: #232323;
    line-height: 1.1;
}
.funFacts .container .card{
    background-color: transparent;
    border: none;
}
.funFacts .container .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.funFacts .container .card-wrapper .icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 70px;
    height: 70px;
    border-radius: 50%; 
    font-size: 1.8rem;
} 
.funFacts .container .card:first-of-type i{
    color:#8bd176;
}
.funFacts .container .card:last-of-type i{
    color:#ff6666;
}
.funFacts .container .card-wrapper .card-text{
    width: fit-content;
    min-width: 170px;
    padding-left: 1.5rem;
} 
.funFacts .container .card-wrapper .card-text h4{
    margin-bottom: 0.5rem;
    font-size: 3.1rem;
    line-height: 1.1;
} 
.funFacts .container .card-wrapper .card-text h5{
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777;
} 
/* Our goals section  */
.section-goal {
    padding: 5rem 0;
    background-color: #fff;
}
.section-goal h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.section-goal p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777;
    margin-bottom: 2rem;
}
.section-goal .list {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777;
}
.section-goal .list ul {
    margin: 0;
    padding-left: 2.4rem;
    list-style-type: none;
}
.section-goal .list ul li {
    margin-bottom: 2rem;
    padding-left: 1rem;
    position: relative;
}
.section-goal .list ul li::before {
    content: '✓';
    position: absolute;
    left: -40px;
    top: -5px;
    background-color: #eee;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* careers section  */
.career {
    padding: 8rem 0;
    background-color: #1b2026;
}
.career .card-wrapper {
    padding: 4rem;
    margin: 0 1rem; 
    background-color: white;
    border-radius: 10px;
    display: flex;
}
.career .card-wrapper h2 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777; 
}
.career .card-wrapper h1 {
    margin-bottom: 2rem;
    font-size: 3.8rem;
    line-height: 1.1;
    color: #1b2026; 
}
.career .card-wrapper .button {
    display: flex;
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
.career .card-wrapper .button .icon-text{
    display: flex;
}
.career .card-wrapper .button i {
    font-size: 1.5rem;
    margin-top: 2px;
    display: flex;
    align-items: center;
    height: 30px;
    color: #777;
    padding: 0;
}
.career .card-wrapper .button p {
    font-size: 1.1rem;
    margin-top: 0;
    line-height: 1.5;
    color: #777;
    padding: 3px 0 0;
}
@media (max-width:600px){
    .career .card-wrapper {
        padding: 1rem;
        margin: 0 0.2rem; 
        background-color: white;
        border-radius: 10px;
    }
    .career .card-wrapper h1 {
        font-size: 3rem;
    }
}
/* section view in action */
.image-view {
    padding: 60px 0;
    background-color: #dce8eb;
}
.image-view .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.image-view .img img{
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
}
.image-view .wrapper {
    padding: 1rem 2rem; 
    width: 90%;
    border-radius: 1rem;
    background-color: #fff;
    position: relative;
    z-index: 4;
    margin: -3rem auto auto;
}
.image-view .wrapper .img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 15px; 
    flex: 0 0 20%;
}
.image-view .wrapper .img-text h3  {
    color: #777;
    font-size: 1.1rem;
    line-height: 1.5;
}
.image-view .wrapper .img-text h2  {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #31363b;
}
.image-view .wrapper .img-text button  {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #fff;
    padding: 1rem 2.6rem; 
    background-color: #232323;
    border-radius: 4px;
}
.image-view .wrapper .img-text button  a{
    color: #fff;
    text-decoration: none;
}

@media (max-width:990px){
    .image-view .wrapper .img-text {
        display: block;
    }
}
/* teams members sections */
.team-members  {
    padding: 5rem 0;
    background-color: #efefef; 
}
.team-members .container p {
    color: #777777; 
    text-align: center;
}
.team-members .container h3 {
    font-size: 3.8rem;
    text-align: center;
}
.team-members .container .card-wrapper {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    padding-top: 3rem;
}
.team-members .container .card-wrapper img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
}
.team-members .container .card-wrapper .description{
    padding: 2rem 2rem 0;
}
.team-members .container .card-wrapper .description h5{
    font-size: 1.6rem;
}
.team-members .container .card-wrapper .description h6{
    font-size: 1.1rem;
    color: #777777;
}
.team-members .container .card-wrapper .description .icon-wrapper{
    padding-top: 2rem;
}
.team-members .container .card-wrapper .description .icon-wrapper .icon{ 
    display: inline-block;
    text-align: center;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    margin-right: 0.6rem;
    padding: 0.8rem;
    background: #efefef;
    transition: all 0.3s;
}
.team-members .container .card-wrapper .description .icon-wrapper .icon:hover{ 
    background-color: #f7d9c4; 
    color: white;
}
.specific {
    padding: 6rem 0;
}
.specific img{
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    border-radius: 10px;
}
.specific .row {
    background-color: #dce8eb;
    border-radius: 10px;
}
.specific .description{
    padding: 4rem 4rem;
}
.specific .description h5 {
    font-size: 3.1rem;
    line-height: 1.1;
}
.specific .description p {
    font-size: 1.1rem;
    line-height: 2.5;
    color: #777;
    text-align: left;
}
.specific .description .icon {
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    padding: 1.3rem;
    background: #ffffff;
    transition: all 0.3s;
    color: #777;
}
.specific .description .icon:hover{
    color: #fff;
    background-color: #f7d9c4;
}
/* clients section  */
.clients{
    padding-top: 6rem;
    padding-bottom: 7rem;
    background-color: #14191e;
}
.clients .row {
    background: #ffffff;
    padding: 3rem 1rem;
    margin: 0rem;
    position: relative;
    border-radius: 15px;
    justify-content: center;
}
.clients .row::before {
    content: '';
    width: 92%;
    height: 2rem;
    position: absolute;
    background-color: #31363b;
    bottom: -2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.clients .row .img{
    height: fit-content;
    opacity: 0.7;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    transition: all 0.3s;
}
.clients .row .img img{
    width: 60%;
    margin: auto;
}
.clients .row .img:hover img{
    animation-name: slidein;
    animation-duration: 0.3s;
}
@keyframes slidein {
    50% {
        transform: translateY(-100%);
    }
    51% {
        transform: translateY(100%);
    }
    
    100% {
        transform: translateY(0%);
    }
}
/* feedback section */
.feedback{  
    background-color: #31363b;
    padding: 4rem 0;
    text-align: center;
}
.feedback .container h3 {
    line-height: 1.1;
    color: #fff;
    font-size: 3.8rem;
}
.feedback .container p {
    line-height: 1.1;
    color: #bbb;
    font-size: 1.1rem;
}
.feedback .carousel-item {
    margin-left: 25%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: white;   
    padding: 2.5rem;
    width: 50%;
}
.feedback .carousel-item p {
    line-height: 1.5;
    color: #777;
    font-size: 1.6rem;
}
.feedback .carousel-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: -35px;
    right: -35px;
}
@media (max-width:767px){
    .feedback .carousel-item {
        margin-left: 15%;
        width: 70%;
        text-align: left;
    }
}