body{
    overflow;
    width: 100%;
}
.top-section{
    height: 110vh;
    background-image: url(classwork\ 3.jpg);
    background-size: cover;
    overflow: hidden;
}
.navi{
    height: 6rem;
}
.nana{
    position: relative;
    left: 2rem;
    top: 0.5rem;
}
.nana img{
    height: 3rem;
    width: 3rem;
    position: relative;
    bottom: 0.7rem;
}
.logo-text{
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    left: 0.5rem;
}
.box-list{
    display: flex;
}
.navo{
    position: relative;
    left: 15rem;
}
.list:hover{
    background-color: white;
    height: 6rem;
    width: 5rem;
    font-weight: bold;
}
.list{
    margin: auto 20px auto 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.middle-top-section{
    margin-top: 17rem;
    margin-left: 8rem;
    font-family: 'DM Sans', sans-serif;
}
.icon{
    list-style-type: none;
    display: flex;
    position: relative;
    right: rem;
    top: 1rem;
    cursor: pointer;
}
li i{
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    position: relative;
    left: 20px;
}
i .facebook{
    position: relative;
    left: 20px;
}
h3 strong{
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
}
.middle-top-section h1{
    font-size: 4rem;
    position: relative;
    bottom: 2.5rem;
    right: 5px;
    margin-top: 0px;
}
.middle-top-section p{
    font-weight: bold;
    margin-top: -10px;
}
.btn{
    margin-left: 7rem;
    width: 10rem;
    background-color: bisque;
    border-radius: 4px;
    height: 4rem;
    margin-top: 2rem;
    border-style: none;
    font-weight: bold;
    position: relative;
    left: 15px;
}
.btn:hover{
    background-color: whitesmoke;
    border-style: none;
}
.section-2 img{
    width: 28rem;
    height: 30rem;
    border-radius: 10px;
    position: relative;
    top: 2rem;
    left: 1rem;
    z-index: 1;
}
.section-2 p{
    font-weight: 400;
    font-size: 1.1rem;
    color: #464646;
}
.section-2 h2{
    font-weight: 400;
    font-size: 3.1rem;
    font-family: sans-serif;
    margin-top: none;
}
.section-2 h3{
    color: #777777;
    font-size: 1.1rem; 
    font-weight: 400;
    position: relative;
    top: 2rem;
}
.what-text{
    background-color: white;
    height: 90vh;
    border-radius: 10px;
    width: 50rem;
    position: relative;
    right: 15rem;
}
.which-text{
    margin-left: 12rem;
    padding-top: 5rem;
}
body{
    background-color: #efefef;
}
.together{
    margin: 5rem 5rem 2rem 8rem;
}
.butt{
    width: 14rem;
    background-color: #dce8eb;
    cursor: pointer;
    font-weight: 600;
    font-family: sans-serif;
    height: 4rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: -15px;
}
.butt:hover{
    background-color: black;
    color: white;
}
ol li{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
ol{
    list-style-type: none;
    position: relative;
    right: 2rem;
}
ol li::before{
    content: '✓';
    padding-left: px;
}
.section-3{
    background-color: white;
    margin-top: 6rem;
    height: 53rem;
}
.sec-3-text{
    text-align: center;
}
.sec-3-text h5{
    font-weight: bold;
    font-size: 1.1rem;
    color: #777777;
    padding-top: 5rem;
}
.sec-3-text h2{
    font-size: 3.8rem;
    padding-bottom: 2rem;
}
.card-1{
    background-color: #efefef;
    height: 90vh;
    border-radius: 1rem;
    width: 22rem;
}
.sec-card-mid{
    text-align: center;
}
.sec-card-mid-2{
    text-align: center;
}
.sec-card-end{
    text-align: center;
}
.card-2{
    background-color: #3d54d0;
    height: 90vh;
    border-radius: 1rem;
    width: 22rem;
    color: #ffffff;
}
.card-3{
    background-color: #efefef;
    height: 90vh;
    border-radius: 1rem;
    width: 22rem;
}
.sec-3-card{
    margin-left: 7rem;
    width: 70rem;
}
.sec-3-card h5{
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 3rem;
    text-align: left;
    margin-left: 3.5rem;
}
.card-1 strong{
    font-size: 3.8rem;
    position: relative;
    right: 1rem;
}
.card-3 strong{
    font-size: 3.8rem;
    position: relative;
    left: 0.3rem;
}
.card-2 strong{
    font-size: 3.8rem;
    position: relative;
    right: 1rem;
}
.sec-3-card ul{
    list-style-type: none;
    position: relative;
    left: 1.8rem;
}
.sec-3-card li{
    text-align: left;
    padding-bottom: 5px;
    font-size: 1.1rem;
}
.sec-3-card li::before{
    content: '✓';
}
.sec-3-card a{
    background-color: #dce8eb;
    color: #49747f;
    border-style: none;
    padding: 15px 5px 5px 5px;
    width: 12rem;
    margin-left: -25px;
}
.sec-3-card a:hover{
    background-color: #ffc107;
    color: black;
}
.card-2 a{
    background-color: #dce8eb;
    color: #49747f;
    border-style: none;
    padding: 15px 5px 5px 5px;
    width: 12rem;
    margin-left: -25px;
}
.card-2 a:hover{
    background-color: #49747f;
    color: #dce8eb;
    border-style: none
}

.section-4{
    background-color: rgb(220, 232, 235);
    height: 13rem;
    text-align: center;
}

.section-container{
    padding-top: 5rem;
    margin-right: 0px;
    margin-left: 5rem;
}

.sec-indu{
    display: flex;
    padding-left: 2rem;
}

.sec-4-1{
    width: fit-content;
    margin-left: 2rem;
    padding-right: 2.5rem;
}

.icon-text strong{
    font-size: 3.8rem;
    text-align: left;
}

.sec-4-2{
    width: fit-content;
    padding-right: 2.5rem;
}

.sec-4-3{
    width: fit-content;
    padding-right: 2.5rem;
}

.icon-wrapper{
    background-color: rgb(255, 132, 132);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.icon-text{
    padding-left: 2rem;
}

.icon-arrow i{
    position: relative;
    top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.icon-text p{
    text-align: left;
}

.sec-5{
    margin: 5rem auto auto 10rem;
}

.sec-5-image img{
    height: 100vh;
    width: 30rem;
    border-radius: 10px;
}
.plus{
    display: flex;
    align-items: center;
    padding: 13px 30px;
    width: 500px;
    background: white;
    font-weight: 600;
}
.plus span{
    font-weight: 300;
    margin-right: 10px;
    font-size: 35px;
}
.sec-5-txt{
    margin-left: -30px;
}
.section-6{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 100px;
    justify-content: center;
}
.card-div{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 22rem;
    padding: 50px;
}
.section-6 h5,
.section-6 h1{
    text-transform: capitalize;
    align-self: center;
}
.card a{
    color: black;
    font-weight: 300;
    font-size: 18px;
}
.card p{
    font-size: 18px;
    color: #777777;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-7{
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
}
.card-div-1{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-4{
    width: 17rem;
    padding: 50px 40px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.card-4 img{
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
}
.section-7 h5,
.section-7 h1{
    text-transform: capitalize;
    align-self: center;
}
.card-4 p,
.text p{
    font-size: 18px;
    color: black;
}
.section-7 h1,
.section-6 h1{
    font-size: 65px;
}
.first{
    display: flex;
}
.prog{
    width: 350px;
    height: 7px;
    background: #49747f;
    border-radius: 10px 0px 0px 10px;
}
.prog-1{
    background: #c7c5c5;
    width: 200px;
    height: 7px;
    margin-left: 300px;
    border-radius: 0px 10px 10px 0px;
}
.prog-text{
    display: flex;
    justify-content: space-between;
}
.p{
   position: relative;
   left: 150px;
}
.text{
    width: 500px ;
    margin-right: 100px;
}
.text h1{
    font-size: 45px;
}
.section-8{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 100px;
    justify-content: space-between;
}
.progresss p{
    font-weight: 500;
    font-size: 20px;
}
.feature-2 img{
    width: 550px;
    height: 250px;
    border-radius: 16px;
    position: relative;
    left: 40px;
}
.feature-3 img{
    width: 550px;
    height: 250px;
    border-radius: 16px;
}
.sub-section-8{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0px 100px 100px 100px;
    justify-content: space-between;
}
.feature-4 img{
    width: 1150px;
    height: 250px;
    border-radius: 16px;
    margin-top: 40px;
}
.section-9{
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
}
.anime-box{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 1000px;
    padding: 30px 15px 30px 15px;
    margin-left: 10rem;
    border-radius: 16px;
    height: 13.5rem;
}
.anime-1 img{
    width: 150px;
    height: 100px;
    position: relative;
    top: 2.5rem;
}
.anime-2 img{
    width: 150px;
    height: 100px;
    position: relative;
    top: 2.5rem;
}
.anime-3 img{
    width: 150px;
    height: 100px;
    position: relative;
    top: 2.5rem;
}
.anime-4 img{
    width: 150px;
    height: 100px;
    position: relative;
    top: 2.5rem;
}
.empty{
    height: 2rem;
    width: 900px;
    background-color: #31363b;
    margin-left: 13rem;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.sec-9-anime{
    margin-top: 4rem;
}
.sec-9-text h1 strong{
    font-size: 3.1rem;
}
.sec-9{
    padding-top: 5rem;
}
.section-10{
    background-color: #dce8eb;
    overflow: hidden;
}
.sec-10{
    display: flex;
}
.sec-10-img img{
    width: 600px;
    height: 600px;
}
.sec-text-form{
    position: relative;
    left: 5rem;
    top: 8rem;
}
.sec-10-text h3 strong{
    color: #777777;
    font-size: 1.1rem;
}
.sec-10-text h1 strong{
    font-size: 3.1rem;
}
.sec-10-text h1 {
    position: relative;
    bottom: 3rem;
}
.form-act input{
    width: 30rem;
    height: 3rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    box-shadow: none;
    border-radius: 6px;
    border-style: none;
}
.form-btn:hover{
    color: black;
    background-color: #f7d9c4;
    border-color: #f7d9c4;
}
.form-btn{
    padding: 0.8rem 1.8rem;
    width: 13rem;
    height: 3.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #1b2026;
    border-radius: 4px;
    color: white;
    text-align: center;
    position: relative;
    left: 17rem;
    border-style: none;
}
.sec-11-image1 img{
    width: 8.5rem;
    height: 8.5rem;
    position: relative;
    left: 12rem;
    bottom: 2rem;
    border-radius: 50%;
}
.sec-11-text{
    height: 75vh;
    overflow: hidden;
}
.sec-11{
    display: flex;
    margin-left: 8rem;
}
.sec-11-image2 img{
    width: 8rem;
    height: 8rem;
    position: relative;
    left: 12rem;
    bottom: 2rem;
    border-radius: 50%;
}
.sec-11-image3 img{
    width: 8rem;
    height: 8rem;
    position: relative;
    left: 12rem;
    bottom: 2rem;
    border-radius: 50%;
}
.sec-11-quote-text p{
    font-size: 1.6rem;
}
.sec-11-quote-text h2{
    font-size: 1.6rem;
}
.sec-11-quote-text h4{
    font-size: 1rem;
}
.sec-11-head{
    padding-top: 5rem;
    color: #777777;
    margin-left: 8rem;
}
.sec-11-head h3{
    font-size: 1.1rem;
}
.sec-11-head h1{
    font-size: 3.8rem;
    font-weight: bold;
    color: black;
    padding-bottom: 3rem;
}
.footer-sec{
    display: flex;
    justify-content: space-around;
    background-color: rgb(35, 35, 35);
    color: white;
    padding-top: 5rem;
    height: 80vh;
}
.foot{
    display: flex;
    justify-content: space-between;
}
.footer-sec a{
    text-decoration: none;
    color: #dce8eb;
}
.foot-2{
    position: relative;
    left: 8rem;
}
.footer-sec a:hover{
    text-decoration: underline;
}
.foot-btn{
    background-color: #f7d9c4;
    color: black;
    border-style: none;
    height: 3.5rem;
    width: 13rem;
    border-radius: 6px;
    font-weight: bold;
}
.foot-btn:hover{
    background-color: white;
    color: black;
    box-shadow: 4px 4px 5px black;
}
.sociocons i{
    padding-right: 1.5rem;
    cursor: pointer;
    color: blue;
    padding-top: 1rem;
}